<div class="page-container">
	<div class="col-xs-10">
		<div class="search-container">
			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod01.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->

			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod02.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod03.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod04.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod05.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod06.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->

			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod01.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->

			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod02.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod03.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod04.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod05.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->


			<!-- search item -->
			<div class="search-item">
				<%= image_tag("prod06.jpg") %>
				<div class="search-item-content">
					<div class="col-sx-12" style="padding-left: 12px;">
						<span class="pull-left"><strong>Palazzo Ducale</strong></span>
						<span class="pull-right"><strong>21 Feb / 28 Apr</strong></span>
					</div>
						<p>
							La chiave di lettura è nuova e non mancherà di sollevare polemiche tra critici ed esperti, ma la mostra organizzata dall' assessorato alla Cultura di Venezia è certamente la più grande rassegna dedicata al pittore francese Henri Matisse
						</p>
						<p class="price">
							12,50€
						</p>
						<a href="/" class="add-cart">Aggiungi al pacchetto</a>
				</div>
			</div>
			<!-- /end-->

		</div>
	</div>


	<div class="col-xs-2 aside">
		<div class="aside-item">
			<div class="row">
				<div class="pull-left">
					<h3><small>Arrivo</small></h3>
				</div>
				<div class="pull-right">
					<h3><small>Modifica</small></h3>
				</div>
			</div>
			<div class="row">
				<div><strong>22 Feb 2014 8:00</strong></div>
			</div>
		</div>

		<div class="aside-item">
			<div class="row">
				<div class="pull-left">
					<h3><small>Partenza</small></h3>
				</div>
				<div class="pull-right">
					<h3><small>Modifica</small></h3>
				</div>
			</div>
			<div class="row">
				<div><strong>22 Feb 2014 8:00</strong></div>
			</div>
		</div>

		<div class="aside-item">
			<div class="row">
				<div class="pull-left">
					<h3><small>Categoria</small></h3>
				</div>
				<div class="pull-right">
					<h3><small>Modifica</small></h3>
				</div>
			</div>
			<div class="row">
				<div><strong>Musei e chiese</strong></div>
			</div>
		</div>

		<div class="aside-item">
			<div class="row">
				<div class="pull-left">
					<h3><small>Categoria</small></h3>
				</div>
				<div class="pull-right">
					<h3><small>Modifica</small></h3>
				</div>
			</div>
			<div class="row">
				<div><strong>Trasporto</strong></div>
			</div>
		</div>

	</div>

</div>

<div class="cart">
	<div class="cart-item">
		<p class="time">Partenza</p>
		<span class="time">22 Febbraio 08:00</span>
	</div>
	<div class="cart-item">
		<p class="time">Ritorno</p>
		<span class="time">22 Febbraio 23:00</span>
	</div>
	<div class="cart-item">
		<span>2</span>
		<p>Traghetti</p>
	</div>
	<div class="cart-item">
		<span>3</span>
		<p>Biglietto evento</p>
	</div>
	<div class="cart-item">
		<span>2</span>
		<p>Autobus</p>
	</div>
	<div class="cart-item">
		<span>3</span>
		<p>Posti ristorante</p>
	</div>

	<div class="cart-action">
		<a href="/search" class="total">140,00€</a>
		<a href="/search" class="buy">ACQUISTA PACCHETTO</a>
	</div>
</div>
